.filter {
  display: flex;
  font-size: 30px;
  margin-bottom: 60px;
}
.label {
  align-items: center;
}
.input {
  margin-left: 20px;
}
.input:focus,
.input:hover {
  outline: #4d5ae5;
  border-color: #4d5ae5;
}
